body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f7;
    color: #0c0505;}


header {
    background-color: #237fe1;
    color: white;
    padding: 15px 0;
    text-align: center;}



.nav-list {
    list-style: none;
    padding: 0;
    text-align: center;}



.nav-list li {
    display: inline;
    margin: 0 20px;}



.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;}


main {
    padding: 30px;
    text-align: center;
    background-color: #ffffff;}



.profile-img {
    width: 100
px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #0679f5;}




.skills {
    background-color: #dcebfb;
    padding: 20px;
    border-radius: 20
px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(132, 101, 101, 0.1);}




.skill-list {
    list-style: none;
    padding: 0;
    font-weight: bold;
    color: #004080;}



.skill-list li {
    background: #9900ff;
    color: white;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    display: inline-block;}




.portfolio {
    background-color: #dbeaf4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);}




.portfolio h2 {
    color: #004080;
    border-bottom: 3px solid #2e76c3;
    display: inline-block;
    padding-bottom: 5px;}




.portfolio-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;}




.portfolio-items img {
    width: 220px;
    height: 160px;
    border-radius: 8px;
    border: 3px solid #1266bf;
    background-color: #f8f9fa;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);}




.contact-form {
    max-width: 400px;
    margin: auto;
    background: rgb(237, 233, 233);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);}




label, input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 12px;}




button {
    background-color: #2e86e3;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;}




footer {
    text-align: center;
    padding: 15px;
    background-color: #07396f;
    color: white;
    margin-top: 30px;
    font-weight: bold;}
